# Artifacts
/Artifacts/

# Environment
/environment.json

# Logs
*.log

# Python
__pycache__/
*.egg-info/
*.pyc

# Python virtual environment
.venv/
.venv-automation/

# Unity
/UnityClient/Assets/StreamingAssets.meta
/UnityClient/Assets/StreamingAssets/
/UnityClient/Library/
/UnityClient/Logs/
/UnityClient/obj/
/UnityClient/Temp/
/UnityClient/UserSettings/
/UnityClient/*.csproj
/UnityClient/*.sln

# Visual Studio
.vs/

# Visual Studio Code
/.vscode/settings.json